@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    border-bottom: 3px solid #556B2F;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #556B2F;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #FF8C00;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url('https://jed-co.com/cdn/shop/articles/JEDCo-Blog-The-Coolest-Custom-Jeeps-We-Could-Find-On-The-Internet-black-wrangler_cf57bfce-5f26-4aad-8415-5cdadd1c3e1f.jpg?v=1757445477&width=1500') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.7);
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    padding: 12px 25px;
    background: #556B2F;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #FF8C00;
}

/* Profile Page */
.profile-container {
    display: flex;
    padding: 50px;
    gap: 40px;
}

.profile-image img {
    width: 350px;
    border: 5px solid #556B2F;
}

.profile-info {
    flex: 1;
}

.info-box {
    background: #222;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #FF8C00;
}

/* Contact Page */
.contact-container {
    padding: 50px;
    text-align: center;
}

.contact-box {
    margin-bottom: 30px;
    font-size: 18px;
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
}

.contact-form button {
    padding: 10px;
    background: #556B2F;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #FF8C00;
}
